body {
    font-family: 'Courier New', Courier, monospace;
    background:rgb(0, 136, 255);
    width: 100%;
    position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
